.reply-content {
  border-top: 1px solid #ddd;
  min-height: 100px;
  max-width: 980px;
  overflow: hidden;
  background: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.30);
  border-radius: 4px;
  margin: 20px auto;
  .author {
    float: left;
    // max-width: 80px;
    width: 120px;
    .avatar {
      background: url('../../../static/images/default-avatar.svg') no-repeat;
      background-size: cover;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      overflow: hidden;
      margin: 10px auto 0;
      img {
        height: 80px;
        width: 80px;
      }
    }

    .login-name {
      text-align: center;
    }
  }
  .content-wrap {
    margin-left: 100px;
    padding: 10px;
    .floor {

    }

    .reply-time {
      float: right;
      // right: 10px;
    }

    .content {

    }
  }
}