
.list-item {
  // border-bottom: 1px solid #DDD;
  list-style-type: none;
  overflow: hidden;
  background: #fafafa;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.30);
  border-radius: 4px;
  margin: 20px auto;
  max-width: 980px;
  position: relative;
  cursor: pointer;
  -webkit-transition-property: background-color;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;

  &:hover {
    background: #ededed;
  }

  .author {
    height: 120px;
    width: 120px;
    float: left;
    .avatar-wrap {
      border-radius: 50%;
      overflow: hidden;
      width: 80px;
      height: 80px;
      margin: 10px auto 0;
      .avatar {
        background: url('../../../static/images/default-avatar.svg') no-repeat;
        background-size: cover;
        width: 80px;
        height: 80px;
      }
    }
    .name {
      text-align: center;
    }
  }
  .content {
    margin-left: 120px;
    .title {
      display: inline-block;
      margin: 10px 0;
      h2 { 

      }
    }
  }

  .reply-count {
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    background: #E12F24;
    min-width: 20px;
    height: 20px;
    border-radius: 10px;
    color: #FFF;
    font-size: 12px;
    text-align: center;
    line-height: 20px;
    padding: 0 5px;
    &.disable {
      display: none;
    }
  }
}